  @keyframes wave{
        0%{
          x : -400px;
        }
        100%{
          x : 0;
        }}   
    @keyframes fill-up{
        0%{
          height: 0;
          y: 130px;
        }
        100%{
          height : 160px;
          y : -30px;
        } }    
    @keyframes change-content {
      from { justify-content: center; }
      to { justify-content: space-around; }
    }
    .water-fill{
        animation :wave 0.7s infinite linear, fill-up 10s infinite ease-out alternate;}
    html{
        overflow-x: hidden;
    }
    body{
      margin: 0px;
      background-color: #369EF5;
    }
    div#myDiv{
      width: 100vw;
      height: 100vh;
    }
    div#loading-area{
      position: absolute;
      background-color: #369EF5;
      top: 0px;
      z-index: 100;
      font-family: "Open Sans" , sans-serifs;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .loading{
      margin-top: 20px;
      width: 45%;
      margin: auto;
      padding-left: 2.5%;
      overflow: visible;
      box-sizing: content-box;
    }
    .dz-table{
      width: 55vw;
    }
    .dz-message{
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 3.5em;
      color: #D7D6D7/*#0087F7*/;
      transition: color;
    }
    .dropzone{
      border: 2px dashed  #D7D6D7/**/ ;
      border-radius: 5px;
      background: white;
      width: 50vh;
      height: 50vh;
      margin: 0px;
      transition: border 0.3s;
      cursor: copy;
    }
    .dz-message > span{
      width: 75px;
      height: 75px;
      border-radius: 50px;
      border: 3px dashed #D7D6D7;
      text-align: center;
      transition: all 0.3s ease;
    }
    .dropzone:hover{
      border: 2.3px dashed #0087F7;
    }
    .dropzone:hover .dz-message > span{
      border: 2.3px dashed #0087F7;
      color: #0087F7;
    }
    #dropzone-wrapper{
      padding: 5px;
      background-color: white;
      border-radius: 5px;
    }
    #visualization-btn{
      width: 53vh;
      font-family: inherit;
      background-color: #3A86CF;
      border-radius: 5px;
      padding: 10px;
      font-size: 1.5em;
      border:none;
      color: white;
      font-weight: 500;
      text-transform: capitalize;
      margin-top: 30px;
      cursor: pointer;
    }
    

/* partie sur la programmation des */
#sunBerst .svg-container{
  position: absolute;
  top: 0px;
}

#box-plot-container{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(54, 158, 245,0.8); 
  display: none;
}
#box-plot-container > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#numeric_metric_container{
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 50%;
  height: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}

#radar-plot-container{
  z-index: 3;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(54, 158, 245,0.5);
  padding: 15px;
}
#radar_close{
  font-size: 48px;
  color: Dodgerblue;
  position: absolute;
  top: 19px;
  right: 25px;
}

#host-information{
  background-color: white;
  width: 30%;
}

#select-radar-plot{
  width: 68%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#host-information{
  height: 75%;
}
td{
  margin-right: 5px;
}


i.right {
  border: solid;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-color: rgb(54, 158, 245);
}
span.level{
	font-weight : 900;
    color: rgb(54, 158, 245);
}

#path{
  position: absolute;
  z-index: 2;
  font-size: 1.5em;
  bottom: 0px;
  left: 40px;
}

#slider-range-container{
  display: flex;
  justify-content: space-between;
}